 <div style="margin-left:10%;margin-right:10%;">
<div class="list-group" *ngFor="let user of users">
    <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">{{user.userName}}</h5>
        <small>Added 3 days ago</small>
      </div>
      <p class="mb-1">{{user.email}}</p>
      <small>Skill Sets</small>
    </a>
    <!-- <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">Toshibha Jadhav</h5>
        <small class="text-muted">Added 3 days ago</small>
      </div>
      <p class="mb-1">User Description</p>
      <small class="text-muted">Skill Sets</small>
    </a>
    <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">Vivaan Ranjan</h5>
        <small class="text-muted">Added 3 days ago</small>
      </div>
      <p class="mb-1">User Description</p>
      <small class="text-muted">Skill Sets</small>
    </a> -->
  </div>
</div> 
