<section class="wrap-hero margin-bottom">
    <div id="carousel-example-ny" class="carousel carousel-hero slide" data-ride="carousel" data-interval="9000">
        <!-- Indicators -->
        <!-- <ol class="carousel-indicators">
            <li data-target="#carousel-example-ny" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-example-ny" data-slide-to="1"></li>
            <li data-target="#carousel-example-ny" data-slide-to="2"></li>
        </ol> -->
  
        <!-- Wrapper for slides -->
        
        <div class="carousel-inner">
            <div class="item active">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6 col-md-push-6">
                            <!-- <div class="">
                                <img src="assets/img/demo/mockup2.png" alt="" class="img-responsive animated zoomInUp animation-delay-30">
                            </div> -->
                          
                        </div>
                        <div class="col-md-6 col-md-pull-6">
                            <div class="carousel-caption">
                               <h1 class="animated fadeInDownBig animation-delay-7 carousel-title">We help you to...</h1>
                               <ul class="list-unstyled carousel-list">
                                   <li class=""><i class="fa fa-angle-right animated fadeIn animation-delay-11"></i><span class="animated fadeInRightBig animation-delay-13"></span>Learn</li>
                                   <li class=""><i class="fa fa-angle-right animated fadeIn animation-delay-15"></i><span class="animated fadeInRightBig animation-delay-16"></span>Build</li>
                                   <li class=""><i class="fa fa-angle-right animated fadeIn animation-delay-19"></i><span class="animated fadeInRightBig animation-delay-19"></span>Empower</li>
                               </ul>
                              
                            </div>
                        </div>
                    </div> <!--row -->
                </div> <!-- container -->
            </div> <!-- item -->
          
        </div> <!-- carousel-inner -->
    </div>
  </section> <!-- carousel -->

  <div class="container">
      <section class="margin-bottom">
          <div class="row">
              <div class="col-md-12">
                  <h2 class="right-line">What do we do?</h2>
              </div>
    
              <div class="col-md-4 col-sm-6">
                      <div class="text-icon wow fadeInUp">
                          <span class="icon-ar icon-ar-lg"><i class="fa fa-graduation-cap"></i></span>
                          <div class="text-icon-content">
                              <h3 class="no-margin">Corporate Training</h3>
                              <p>Dot Net Next understands the skill gaps that are holding the growth of your business/organization. With Dot Net Next mentors, you can enchance your employees skills as per changing technology landscape.</p>
                          </div>
                      </div>
              </div>
    
              <div class="col-md-4 col-sm-6">
                  <div class="text-icon wow fadeInUp">
                      <span class="icon-ar icon-ar-lg"><i class="fa fa-cloud"></i></span>
                      <div class="text-icon-content">
                          <h3 class="no-margin">Consulting</h3>
                          <p>Software architecture is the process of taking operational and technical requirements, and designing a solution that optimizes things important to the system like quality, performance, security, and maintainability. At Dot Net Next, our experts will help you to build architecture for your dream project.</p>
                      </div>
                  </div>
              </div>
              <div class="col-md-4 col-sm-6">
                  <div class="text-icon wow fadeInUp">
                      <span class="icon-ar icon-ar-lg"><i class="fa fa-desktop"></i></span>
                      <div class="text-icon-content">
                          <h3 class="no-margin">Software Development</h3>
                          <p>At Dot Net Next, we serve you with end-to-end software consulting and development solutions. We help you plan, conceive, incorporate, build and take care of your software with the help of our industry experts from different knowledge domains - offering you absolute benefits from our expert consulting.</p>
                      </div>
                  </div>
              </div>
              <div class="col-md-4 col-sm-6">
                      <div class="text-icon wow fadeInUp">
                          <span class="icon-ar icon-ar-lg"><i class="fa fa-graduation-cap"></i></span>
                          <div class="text-icon-content">
                              <h3 class="no-margin">Individual Training</h3>
                              <p>Dot Net Next understands the skill gaps that are holding the growth of your business/organization. With Dot Net Next mentors, you can enchance your employees skills as per changing technology landscape.</p>
                          </div>
                      </div>
              </div>
              <div class="col-md-4 col-sm-6">
                  <div class="text-icon wow fadeInUp">
                      <span class="icon-ar icon-ar-lg"><i class="fa fa-wordpress"></i></span>
                      <div class="text-icon-content">
                          <h3 class="no-margin">Software Maintenance</h3>
                          <p>We have consultants and experts who help in web application planning, implementation and support your application.</p>
                      </div>
                  </div>
              </div>
             
              <div class="col-md-4 col-sm-6">
                  <div class="text-icon wow fadeInUp">
                      <span class="icon-ar icon-ar-lg"><i class="fa fa-paper-plane-o"></i></span>
                      <div class="text-icon-content">
                          <h3 class="no-margin">Customer service</h3>
                          <p>Customer Service Customer Service Customer Service Customer Service Customer Service Customer Service</p>
                      </div>
                  </div>
              </div>
          </div> <!-- row -->
      </section>
    
    </div> <!-- container -->

    <div class="container">
        <section class="css-section">
            <div class="row">
                <div class="col-md-12">
                    <h2 class="right-line">Statistics</h2>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="content-box box-default wow zoomInUp animation-delay-2">
                        <h4 id="count-coffees" class="content-box-title counter">450</h4>
                        <i class="fa fa-4x fa-coffee primary-color"></i>
                        <p class="margin-top-20 no-margin-bottom lead small-caps">Articles</p>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="content-box box-default wow zoomInUp animation-delay-4">
                        <h4 id="count-coffees" class="content-box-title counter">64</h4>
                        <i class="fa fa-4x fa-briefcase primary-color"></i>
                        <p class="margin-top-20 no-margin-bottom lead small-caps">projects done</p>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="content-box box-default wow zoomInUp animation-delay-6">
                        <h4 id="count-coffees" class="content-box-title counter">600</h4>
                        <i class="fa fa-4x fa-comments-o primary-color"></i>
                        <p class="margin-top-20 no-margin-bottom lead small-caps">Interview Questions</p>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="content-box box-default wow zoomInUp animation-delay-8">
                        <h4 id="count-coffees" class="content-box-title counter">3500</h4>
                        <i class="fa fa-4x fa-group primary-color"></i>
                        <p class="margin-top-20 no-margin-bottom lead small-caps">Users</p>
                    </div>
                </div>
            </div>
        </section>
      </div> <!-- container -->

