

<div style="margin-left:10%;margin-right:10%;">
  <input type="text" class="form-control" placeholder="Search" [(ngModel)]="query" id="listSearch">
 <br>
  <div>
    Search By City
    <select [(ngModel)]="query">
        <option value="Bangalore">Bangalore</option>
        <option value="Chennai">Chennai</option>
        <option value="Hyderabad">Hyderabad</option>
   </select>
   <!-- Search By Name
   <select [(ngModel)]="query">
       <option value="Suman">Suman</option>
       <option value="Sanjeev Ranjan">Sanjeev Ranjan</option>
  </select> -->
</div>

<br>
<table class="table table-striped">
    <thead>
      <tr>
        
        <th scope="col">
            <input type="checkbox" (change)="isSelected = !isSelected"> Select all
            <!-- <input type="checkbox"/> -->
        </th>
        <th scope="col">Delete</th>
        <th scope="col">Employee ID</th>
        <th scope="col">Employee Name</th>
        <th scope="col">City</th>
        <th scope="col">Joining Date</th>
        <th scope="col">Salary</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let employee of employees | employeepipe: query | paginate: { itemsPerPage: 4, currentPage: p }">
       <!-- <td>
        <input type="checkbox" [checked]="isSelected" (change)="checkbox(employee.employeeID)"> -->
        <td><input [(ngModel)]="employee.selected" type="checkbox" [checked]="isSelected" (click)="selectID(employee.employeeID)"></td>
         <!-- <input type="checkbox"/> -->
         <td><button type="button" class="btn btn-danger" (click)="deleteemployee(employee.employeeID)" value="{{employee.employeeID}}">Delete</button></td>
       <!-- </td> -->
        <td>{{employee.employeeID}} </td>
        <td>{{employee.employeeName}}</td>
        <td>{{employee.city}}</td>
        <td>{{employee.joiningDate | date: 'dd/MM/yyyy'}}</td>
        <td>{{employee.salary}}</td>
      </tr>
    </tbody>
    <pagination-controls (pageChange)="p = $event"></pagination-controls>
    <nav aria-label="Page navigation example">
        <ul class="pagination" (pageChange)="p = $event">
          <li class="page-item"><a class="page-link" href="#">Previous</a></li>
          <li *ngFor="let x of 10" class="page-item"><a class="page-link" href="#">{{x}}</a></li>
          <!-- <li class="page-item"><a class="page-link" href="#">2</a></li>
          <li class="page-item"><a class="page-link" href="#">3</a></li> -->
          <li class="page-item"><a class="page-link" href="#">Next</a></li>
        </ul>
      </nav>
  </table>

  <!-- <button type="button" class="btn btn-danger" (click)="deleteemployee(employee)">Delete</button> -->
  <!-- <button type="button" class="btn btn-danger">Delete</button> -->
  <button (click)="deleteSelected()">DeleteSelectedEmployee</button>
</div>
